.plansScreen__plan {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}

.plansScreen__plan:hover {
  opacity: 1;
}

.line {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.line > p {
  margin-left: 0%;
}

.line > button {
  margin-left: 100%;
  margin-right: 0;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 0.3vw;
}
